table, td, th {
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    border-collapse: collapse; /*cellák közti rések eltűntetése*/
}
table {
    width: 80%;
    text-align: center;
}
th {
    background-color: white;
}
tr:nth-child(odd){
    background-color: lightgray;
    color: black;
}
.responzivtablazat {
    width: 100%;
    overflow-x: scroll;
}